<h2>Your Todos</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due Date</th>
      <th>Complete?</th>
      <th>Notebook</th>
    </tr>
  </thead>
  <% @todos.each do |t| %>
    <% if t.category.color %>
      <tr style="background-color : <%= t.category.color %>;">
    <% else %>
      <tr>
    <% end %>
        <td><%= t.title%></td>
        <td><%= t.due_date%></td>
        <td><%= t.complete%></td>
        <td><%= t.category.title %></td>
    </tr>
  <% end %>

</table>
