<h2>Your Todos</h2>


<!-- <div class="create-todo">
  <%= simple_form_for @new_todo do |f| %>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.association :category, prompt: "Choose a Category" %>
    <%= f.input :due_date, as: :date %>
    <%= f.button :submit %>
  <% end %>
</div> -->

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due Date</th>
      <th>Complete?</th>
      <th>Notebook</th>
    </tr>
  </thead>
  <% @todos.each do |t| %>
    <% if t.category.color %>
      <tr style="background-color : <%= t.category.color %>;">
    <% else %>
      <tr>
    <% end %>
        <td><%= t.title%></td>
        <td><%= t.due_date%></td>
        <td><%= t.complete%></td>
        <td><%= t.category.title %></td>
    </tr>
  <% end %>

</table>
