<h1>Create a Todo</h1>
<div class="create-todo">
  <%= simple_form_for @new_todo do |f| %>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.association :category, prompt: "Choose a Notebook" %>
    <%= f.input :due_date, as: :date %>
    <%= f.button :submit %>
  <% end %>
</div>
